/*весь сайт*/
body{
    background-color: #e5e1ee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/*заголовок*/
.title{
    background-color: #4a509a;
    color: white;
    width: 100%;
    padding: 5px 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/*основной блок*/
.info{
    color: #4a509a;
    margin: 30px auto;
    width: 80%;
    text-align: justify;

    display: flex;
    justify-content: center;
    gap: 20px;
}

/*кнопки*/
.btn{
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 50px;

    background-color: transparent;
    color: #4a509a;
    border: 2px solid #4a509a;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    min-width: 200px;
    width: auto;
    border-radius: 30px;

    font-size: 25px;
}
.btn:hover {
    background-color: #4a509a;
    transition: background-color 0.3s ease;
    color: white;
    border-color: #4a509a;
}